* {
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform:capitalize;
    text-align: center;
    background-color: #75cfb8;
    color: #007965;
    
}
a:hover {
    background-color: #16c79a;


}

header{ text-align: center;
    height: 100px;
    text-decoration: none;
    margin: 10px;
    padding: auto;}

h1{
    font-size: 40pt;
}    

    
h2{ 
    text-decoration: none;
    font-size: 30pt;
    clear: both;
    margin: 20px;
}    

img {
border-radius: 30%;
height: 100%;
margin-left: 5px;
margin-right: 10px;
width: 10%;
border-style:groove;
clear: both;
}

.layout { 
    clear: both;
    display: table;
    margin: 30px;
    padding: 20px;

}


.title{ 
    text-align: center;
    font-size: 20pt;
    font-weight:bolder;
    margin: 10px;
    clear: both;
}
.list{
    text-align: center;
    /* float: left; */
    border-style: outset;
    margin: 10px;
    border-color: ;
    border-width: 10px;
    background-color:#bbdfc8;

    

}
.container{
    display:flex;

}

.first {
    list-style: none;
    text-align: center;
    padding: 10px;

}

.list2 {
    text-align: center;
    border-style: outset;
    margin: 10px;
    border-color: ;
    border-width: 10px;
}
.container2 {
    display:flex;

}
footer{
    font-size:20pt;
    padding: 20px;
    margin-top: 10px;
    background-color:#bbdfc8;

    
}

