@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    box-sizing: border-box;
    text-transform:capitalize;
    text-align: center;
}
a:visited{
    text-decoration: none;
}
a:hover {
    background-color: #16c79a;
}
body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat:repeat;
}

header{ 
    text-align: center;
    height: 100px;
    text-decoration: none;
    margin: 5px;
    padding: auto;
    color: #00917c
}
    

h1{
    font-size: 40pt;
    font-family:'Noto Sans JP', sans-serif;
    color: #00917c;
}    

    
h2{ 
    text-decoration: none;
    font-size: 20pt;
    clear: both;
    margin: 20px;
    font-family:'Noto Sans JP', sans-serif;
    color: #00917c;
    text-decoration: none;


}    

img {
border-radius: 30%;
height: 100%;
margin-left: 5px;
margin-right: 10px;
width: 10%;
border-style:groove;
clear: both;
}

.layout { 
    clear: both;
    display: table;
    margin: 30px;
    padding: 20px;

}
.description{
    font-family: Arial, Helvetica, sans-serif;
    color: #007965;
}
.description p{
    text-align: justify;
    padding: 30px;
}


.title{ 
    text-align: center;
    font-size: 20pt;
    font-weight:bolder;
    margin: 10px;
    clear: both;
    font-family:'Noto Sans JP', sans-serif;
    color: #00917c;
}

.list{
    text-align: center;
    /* float: left; */
    border-style: outset;
    margin: 10px;
    border-width: 10px;
    background-color:#bbdfc8;
    font-family: Arial, Helvetica, sans-serif;
    color: #007965;
}
.container{
    display:flex;

}

.first {
    list-style: none;
    text-align: center;
    padding: 10px;
}

.list2 {
    text-align: center;
    border-style: outset;
    margin: 10px;
    border-width: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007965;

}
.container2 {
    display:flex;

}
footer{
    font-size:20pt;
    padding: 20px;
    margin-top: 10px;
    font-family:'Noto Sans JP', sans-serif;
    color:#025955;
}

