@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

nav ul li {
    text-decoration: none;
    display: inline-flex;
    text-transform: capitalize;
    list-style: none;
    margin-right: 300px; 
    font-size: 20pt;
    font-family:'Noto Sans JP', sans-serif;
    color: #007965;


}
#home{
    text-decoration: none;
    color: #007965;


}
a:visited{
    text-decoration: none;
}
a:hover {
    background-color: #68b0ab;
    border-radius: 5px;
}

   
body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat:repeat;   
    color: #007965;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    border-style:double;
    background-color: #ccf2f4;
    width: 100%;
    text-align:justify;
    vertical-align: middle;
    margin-bottom: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
table, th, td {
    border: 1px solid #276678;

  
}
tr:nth-child(even) {background-color: #a4ebf3;
}

tr:hover{
    background-color: #80ffdb;}
.locationList{
    overflow-x:auto;
}
input{
    border-top:none;
    border-bottom:solid;
    border-left: none;
    border-color: seagreen;
}
label{
    font-family: cursive;
    color: #206a5d;
    display:inline-table;
    text-align: center;    
}
footer{
    margin: 30px;
    text-align: center;
}
button{
    border: none;
    background-color: #f7d1ba;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    color: #206a5d;
    font-family: cursive;

}